<!--Start of navbar-->


<section class="section is-medium">
    <div class="columns has-background-grey-light">
        <div class="column">
            <a class="navbar-item" href="">
                <img src="/img/garden.jpeg" width="100px">
                <h1>Grow For Us</h1>
            </a>
        </div>
        <div class="column">
            <p class="bd-footer-link-title">
                <a class="has-text-grey" href="">
                    Home
                </a>
            </p>
            <p class="bd-footer-link-title">
                <a class="has-text-grey" href="/users">
                    Volunteering
                </a>
            </p>
        </div>

        <div class="column">
            <p class="bd-footer-link-title">
                <a class="has-text-grey" href="/foodbank">
                    Foodbanks
                </a>
            </p>
            <p class="bd-footer-link">
                <a class="has-text-grey" href="/foobanksearch">
                    Search
                </a>
            </p>
            <p class="bd-footer-link">
                <a class="has-text-grey" href="/addfoobank">
                    Register
                </a>
            </p>
            <p class="bd-footer-link">
                <a class="has-text-grey" href="/news">
                    News
                </a>
            </p>
            <p class="bd-footer-link">
                <a class="has-text-grey" href="/events">
                    Events
                </a>
            </p>
        </div>
        <div class="column">
            <p class="bd-footer-link-title">
                <a class="has-text-grey" href="/about">
                    About
                </a>
            </p>
        </div>
    </div>
</section>
<!-- End of Footer-->