<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">

    <link rel="stylesheet" href="https://bulma.io/css/bulma-docs.min.css?v=202006150846">
    <link rel="icon" href="/img/gfu_small.png ">
    <title>Add New Foodbank</title>
</head>

<body>
    {{>header}}
    <div class="tile">
        <div class="tile is-parent is-vertical">
            <article class="tile is-child notification is-primary">
                <div class="columns">
                    <div class="column is-3">
                        <img src="/img/gfu.jpeg">
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Search for Food Bank</label>
                            <div class="control">
                                <input class="input" type="text" id="foodbankname"
                                    placeholder="Food Bank Name or Zip or City">
                            </div>
                        </div>

                    </div>
                </div>
            </article>
            <article class="tile is-child notification is-primary">
                <div class="columns">
                    <div class="column is-4">
                        <p>
                        <h1>Bellingham Food Bank</h1>
                        </p>
                        <p>
                            1824 Ellis St
                            Bellingham, WA 98225
                        </p>
                        <p>
                        <p>Contact</p>
                        360.676.0392 | TTY 711 or 800.833.6388
                        <p>Hours</p>
                        Monday: 11:00am – 3:00pm<br>
                        Wednesday: 1:00 – 6:00pm<br>
                        Friday: 11:00am – 3:00pm<br>
                        </p>
                        <p>FOOD DONATION DROP OFF
                            Location:
                            Warehouse at 1824 Ellis Street-enter via alleyway between Ohio & Kansas Streets
                            Hours:
                            Monday – Friday
                            10:00am – 4:00pm

                            We’re here all week. Have a question, food to drop off, want to make a donation? Come by and
                            see us. We will be happy to help in any way we can. Email us at info@bellinghamfoodbank.org
                        </p>
                    </div>
                    <div class="column is-3">
                        <img src="/img/joesgarden.jpeg">
                    </div>

                    <div class="column">
                        <div class="field">
                            <p>News and Events</p>

                        </div>

                    </div>
                </div>

            </article>
        </div>
    </div>

    <section class="section">
        {{>footer}}

</body>

</html>