<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="icon" href="/img/weather.png ">
    <script src="../src/app.js"></script>
    <title>Grow For Us</title>
</head>

<body>
    <nav class="level"></nav>
    <p class="level-item has-text-centered">
        <a class="link is-info">Home</a>
    </p>
    <p class="level-item has-text-centered">
        <a class="link is-info">Menu</a>
    </p>
    <p class="level-item has-text-centered">

    </p>
    <p class="level-item has-text-centered">
        <a class="link is-info">Reservations</a>
    </p>
    <p class="level-item has-text-centered">
        <a class="link is-info">Contact</a>
    </p>
    </nav>
    <section>
        <div class=" main-content">
            {{>header}}
            <p>Use this site </p>
        </div>
        {{>footer}}
</body>

</html>