<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/fontawesome.5.13.1/css/all.css">
    <link rel="stylesheet" href="https://bulma.io/css/bulma-docs.min.css?v=202006150846">
    <link rel="icon" href="/img/gfu_small.png ">
    <title>Add New Foodbank</title>
</head>

<body>
    {{>header}}

    <div class="tile">
        <div class="tile is-parent is-vertical">
            <article class="tile is-child notification is-primary"
                style="background-color:#068027;background-image:url(/img/joesgarden.jpeg);background-size: contain;background-repeat: no-repeat;width: 2000px;height: 0;">
                <!-- <p><img src="/img/joesgarden.jpeg" style="opacity:0.5">TEST</p> -->

                <!--</article>
            <article class="tile is-child notification is-primary"> -->
                <div class="columns">
                    <div class="column is-3">
                        <img src="/img/gfu.jpeg">
                        <a class="icon-item" target="_blank" href="https://www.youtube.com/user/FairhavenRunners"><i
                                class="fa fa-twitter fa-5x"></i></a>
                        <i class="fab fa-youtube"></i>
                    </div>
                    <div class="column">
                        <p class="title">Grow For Us</p>
                        <p class="subtitle">Bringing people together with their local food banks.</p>
                        <p>Out goal is to provide a place for farmers, home gardeners and volunteers to come together to
                            harvest food that otherwise would be wasted and supply it to their local food banks.
                        </p>
                        <p>
                            Do you have a fruit tree that will go unharvested? Planted more than bountiful year of
                            zuccini?
                            Not
                            going to be able to pick all of the plums this year? Just looking for your local foobank and
                            want to
                            help out? Our goal is to provide easy access to volunteers, information, events and all
                            things
                            our
                            communities can do to help out our local food banks.
                        </p>
                    </div>
                </div>
            </article>
            <article class="tile is-child notification is-primary">
                <p class="title">Grow For Us</p>
                <p class="subtitle">Bringing people together with their local food banks.</p>
                <p>Out goal is to provide a place for farmers, home gardeners and volunteers to come together to
                    harvest food that otherwise would be wasted and supply it to their local food banks.
                </p>
                <p>
                    Do you have a fruit tree that will go unharvested? Planted more than bountiful year of zuccini?
                    Not
                    going to be able to pick all of the plums this year? Just looking for your local foobank and
                    want to
                    help out? Our goal is to provide easy access to volunteers, information, events and all things
                    our
                    communities can do to help out our local food banks.
                </p>

            </article>
        </div>
    </div>

    <section class="section">
        {{>footer}}

</body>

</html>